@model Monkey.Core.Models.Auth.CannotSigInModel
@{
    Layout = "/Areas/Portal/Views/Shared/_LayoutAnonymous.cshtml";
    ViewData[Constants.ViewDataKey.Title] = "Owl | Cannot Sign In";
}

<h3 class="font-size-24">Can Not Sign In</h3>
<p>System will send active account or set password link to your email</p>

<form asp-controller="Auth" asp-action="SubmitCannotSignIn" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">
    @Html.AntiForgeryToken()

    <div class="form-group form-material" data-plugin="formMaterial">
        <label asp-for="Email" class="form-control-label" for="@nameof(Model.Email)"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="row">
        <div class="col-md-6 form-group form-material">
            <a class="btn btn-default ladda-button btn-block" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Index", "Auth")">
                <span class="ladda-label">
                    <i class="icon md-long-arrow-left mr-10" aria-hidden="true"></i>Back
                </span>
            </a>
        </div>
        <div class="col-md-6 form-group form-material">
            <button type="submit" class="btn btn-primary ladda-button btn-block" data-style="slide-right" data-plugin="ladda">
                <span class="ladda-label">
                    <i class="icon md-mail-send mr-10" aria-hidden="true"></i> Send
                </span>
            </button>
        </div>
    </div>
</form>