<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewData[Constants.ViewDataKey.Title]</title>
    @{
        await Html.RenderPartialAsync("_Favicon").ConfigureAwait(true);
        await Html.RenderPartialAsync("~/Areas/Portal/Views/Shared/Asset/_Style.cshtml").ConfigureAwait(true);
        await Html.RenderPartialAsync("~/Areas/Portal/Views/Shared/Asset/_HeaderScript.cshtml").ConfigureAwait(true);
    }
    @await RenderSectionAsync("Styles", required: false).ConfigureAwait(true)
</head>
<body class="animsition site-navbar-small">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @{
        await Html.RenderPartialAsync("~/Areas/Portal/Views/Shared/Menu/_Navbar.cshtml").ConfigureAwait(true);
        await Html.RenderPartialAsync("~/Areas/Portal/Views/Shared/Menu/_Menubar.cshtml").ConfigureAwait(true);
        await Html.RenderPartialAsync("~/Areas/Portal/Views/Shared/Menu/_GirdMenu.cshtml").ConfigureAwait(true);
    }
<div class="page">
    @RenderBody()
</div>
    @{
        await Html.RenderPartialAsync("~/Areas/Portal/Views/Shared/Menu/_Footer.cshtml").ConfigureAwait(true);
        await Html.RenderPartialAsync("~/Areas/Portal/Views/Shared/Asset/_BottomScript.cshtml").ConfigureAwait(true);
    }
    @await RenderSectionAsync("Scripts", required: false).ConfigureAwait(true)
</body>
</html>